.app {
  text-align: center;
  align-content: center;
}

.app-header {
  display: flex;
  background-color: #222;
  height: 5rem;
  padding: 1.25rem;
  color: white;
}

.nav {
  display: flex;
  margin-left: 1.5rem;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #444;
}

.nav-link:visited {
  color: white;
}

.title-link {
  text-decoration: none;
}

.header-title {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 4;
}
