@import url('https://fonts.googleapis.com/css?family=Eagle+Lake&effect=3d');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: beige;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eagle Lake', cursive;
  letter-spacing: .25em;
}

h1 {
  font-size: 3em;
}

#page-title {
  position: relative;
  z-index: 4;
}

a {
  padding: 5px;
  font-weight: 600;
}

a:visited {
  color: blueviolet;
}

nav {
  background-color: #282828;
  padding: 25px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 94%;
}

img {
  border-radius: 25px;
  margin-top: 20px;
}

#album-cover-art {
  margin-top: 20px;
  border-radius: 25px;
}

#release-info {
  font-weight: bold;
  font-family: 'Eagle Lake', cursive;
}

td {
  border: solid 1px lightgrey;
}

#song-list {
  margin: auto;
  border: solid 1px lightgrey;
}

#song-title-column {
  width: 7em;
}

#song-title {
  padding-left: 10px;
  text-align: left;
}

div .ion-md-volume-low {
  position: relative;
  width: 50%;
  float: left;
}

div .ion-md-volume-high {
  position: relative;
}

#play-pause {
  margin: 5px 5px;
}

.player-bar {
  background-color: rgba(216,216,216, .2);
  position: -webkit-sticky;
  position: sticky;
  left: 85%;
  bottom: 5%;
  width: 200px;
  border-radius: 25px;
  border: 1px solid black;
  padding: 15px 0;
}